.card {
  margin-bottom: $spacer;
  .rounds {
    text-align: center;
    color: $gray-400;
    background-color: $gray-800;
    font-size: $font-size-sm;
    border-radius: $border-radius-sm;
    line-height: 1.2;
    text-transform: uppercase;
    padding: map-get($spacers, 2);
    margin-bottom: $spacer;
    span {
      display: block;
      font-size: $font-size-lg;
      color: $white;
    }
  }
  .list-group-flush {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.has-pictures {
    .picture-main {
      margin-bottom: $spacer;
    }
    .pictures-thumbnails {
      .thumbnail {
        margin-bottom: $spacer;
      }
    }
  }
}
