.card-container {
  .card {
    margin-bottom: $spacer;
  }
}
.card {
  &.caliber-card {}

  &.ammunition-card {}

  .rounds {
    display: flex;
    background-color: $gray-600;
    color: $white;

    .rounds-total,
    .rounds-purpose {
      flex: 0 0 50%;
      padding: ($spacer / 2) $spacer;
      & > span {
        display: block;
        color: $gray-200;
      }
    }

    .rounds-total {
      text-align: center;
      .number {
        font-family: $font-family-monospace;
        font-size: $font-size-lg;
      }
      .label {
        font-family: $font-family-serif;
        letter-spacing: 0;
      }
    }
    .rounds-purpose {
      font-size: $font-size-sm;
    }
  }
}
